body {
    margin-left: 250px;
    margin-top: 50px;
}

.container-quotation h3 {
    color: midnightblue;
}

.input-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-container.num{
    width: 15%;
}

.input-container.note{
    width: 50%;
}

.input-container.note input{
    height: 200px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}


.input-container input {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container input::placeholder {
    color: #999;
}

.line {
    width: 97%;
}

.input-group {
    display: flex;
}

.input-container.for {
    flex: 1;
}

.input-container.date-time {
    flex: 1;
    margin-left: 100px; 
}

.input-container.for input,
.input-container.date-time input {
    width: calc(80% - 30px);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}


.custom-file-upload img {
    width: 50px; 
    height: auto;
}


table {
    border-collapse: collapse;
    width: 99%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.editable {
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 8px;
}



.editable:focus {
    border: 1px solid #007bff;
}
.unit-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
img {
    max-width: 50px; 
    height: auto;
    display: block; 
}
.small-qty {
    max-width: 90px;
}

.product-desc{
    width: 200px;
}

.unit-price {
    width: 100px;
}
.product-input {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.existing-product-link {
    display: inline-block;
    /* width: 30%; */
    /* padding: 8px; */
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

th:nth-child(5), td:nth-child(5) {
    width: 80px; 
}

th:nth-child(7), td:nth-child(7) {
    width: 90px; 
}


.button-container {
    margin-bottom: 20px;
  }
  
  .button-container button {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 0;
  }
  
  .button-container #addButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .button-container #deleteButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .button-container button:hover {
    filter: brightness(90%);
  }

 
  .form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    flex-grow: 1; 
}

.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    flex-grow: 1; 
}


  .container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
  }

  .form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .form-group label {
    margin-right: 10px;
  }

  .selected-product table{
    width: 100%;
  }

  /* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
 /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10%;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
  }
  
  /* Modal Table */
  .modal-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Modal Table Row */
  .modal-content table tbody tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer; 
  }

  
  .search-box-customer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-box-customer input[type="text"] {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-box-customer input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.select-product {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.select-product:hover {
    background-color: #0056b3;
}

.input-form {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-form-detail {
    flex: 0 0 calc(17.80% - 5px); 
    margin-right: 2px; 
    
}

.input-form-detail:last-child {
    margin-right: 0;
}

.input-form-detail label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-form-detail select, 
.input-form-detail input[type="text"],
.input-form-detail input[type="number"] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-form-detail input[type="text"]:focus,
.input-form-detail input[type="number"]:focus,
.input-form-detail select:focus {
    outline: none;
    border-color: #007bff;
}

.button-form {
    width: 60%;
    flex: 0 0 calc(16.66% - 10px); 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 29px; 
}

.button-form:hover {
    background-color: #0056b3;
}
