body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #333333;
}

.error {
  color: #e74c3c;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555555;

}

.label-left {
  text-align: left;
}


input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

button[type="submit"] {
  width: calc(100% - 1px);
  padding: 10px;
  border: none;
  background-color: #224abe;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1a6498;
}

.logo {
  width: 100px;
}


